@import "tailwindcss";

.outfit {
  font-family: var(--font-outfit), sans-serif;
}

.ovo {
  font-family: var(--font-ovo), serif;
}

.mont {
  font-family: var(--font-mont), sans-serif;
}

.jetb {
  font-family: var(--font-jetb), monospace;
}

/* Hero Section */

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  45% {
    transform: rotate(14deg);
  }

  60% {
    transform: rotate(-4deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wave-hover:hover {
  animation: wave 1s ease-in-out;
  transform-origin: bottom right;
}